# Data Structure Assignment

1. What are data structures, and why are they important ?
   - Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently
   Importance:
Efficiency: They allow for optimized data retrieval, insertion, and deletion
Organization: They provide a structured way to manage large amounts of data
Reusability: They are fundamental building blocks for complex software systems

2. Explain the difference between mutable and immutable data types with examples
   - Mutable: Data types whose values can be changed after they are created. Examples: lists, dictionaries, sets.

   - Immutable: Data types whose values cannot be changed after they are created. If you want to modify an immutable object, you have to create a new object. Examples: strings, tuples, integers, floats, booleans

3. What are the main differences between lists and tuples in Python?
   - Lists: Mutable, denoted by [], can be modified after creation
   - Tuples: Immutable, denoted by (), cannot be modified after creation

4. Describe how dictionaries store data?
   - Dictionaries store data in key-value pairs. Each key must be unique, and it maps to a corresponding value. They use a hash table internally, which allows for fast lookups based on keys.

5. Why might you use a set instead of a list in Python?
   - Sets are used when you need to store unique elements and perform set operations (union, intersection, difference). They are more efficient than lists for checking membership.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters. It is immutable.
   - Difference:
Strings are immutable, lists are mutable.
Strings are designed for text, lists for general collections

7.  How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity by being immutable. Once a tuple is created, its contents cannot be changed, preventing modifications

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that uses a hash function to map keys to indices in an array, allowing for fast lookups
Dictionaries in Python use hash tables to store key-value pairs

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain elements of different data types

10. Explain why strings are immutable in Python?
   - Strings are immutable for efficiency and consistency. If strings were mutable, it would be harder to manage memory and ensure that string operations behave predictably

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries offer faster lookups using keys, making them ideal for tasks where you need to retrieve values based on specific identifiers

12. Describe a scenario where using a tuple would be preferable over a list?
   - Using a tuple for coordinates (x, y) or for storing things settings that should not be changed

13. How do sets handle duplicate values in Python?
   - Sets automatically eliminate duplicate values. Only unique elements are stored

14. How does the “in” keyword work differently for lists and dictionaries?
   - For lists, in checks if a value exists in the list. For dictionaries, in checks if a key exists in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
   - No, you cannot modify the elements of a tuple because tuples are immutable

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary within another dictionary
   Example: Storing student information with nested dictionaries for addresses

17. Describe the time complexity of accessing elements in a dictionary.
   - The average time complexity of accessing elements in a dictionary is O(1) (constant time)

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred when you need an ordered collection of elements and when you don't need to look up elements by keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Before Python 3.7, dictionaries were unordered. From python 3.7 dictionaries preserve insertion order. Before that, the order of key-value pairs was not guaranteed.

20.  Explain the difference between a list and a dictionary in terms of data retrieval?
   - Lists are accessed by index (position), while dictionaries are accessed by key (identifier)

In [2]:
#1 Write a code to create a string with your name and print it

name = "Het"
print(name)

Het

In [3]:
#2 Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [4]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4 Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [6]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [7]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'HET', 'age': 20}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'HET', 'age': 20}
print(my_dict["name"])

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Het', 'age': 20, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers

SyntaxError: incomplete input (<ipython-input-28-11e3fa1f74ed>, line 6)

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date"]
print(string_list[3])

date

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}